body {
  background: #222;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#center-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#timer {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  min-width: 120px;
  font-weight: 600;
  letter-spacing: 2px;
}
#timer-bar-container {
  width: 340px;
  margin: 0 auto 40px auto; /* 與爆炸 icon 保持間距 */
}
#timer-bar-bg {
  background: #333;
  width: 100%;
  height: 24px;
  border-radius: 8px;
  overflow: hidden;
}
#timer-bar {
  height: 24px;
  width: 100%;
  background: #4caf50;
  transition: width 0.2s, background 0.2s;
}
#explosion {
  display: none;
  font-size: 3rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 24px;
}
.btn-area {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 8px;
  width: 95%;
}
